body{
    font-family: 'Roboto', sans-serif;
    background:#362b6f;
}


.color-texto-blanco{
    color: white;
}

.label_Formulario{
    color: white;
}


#headerUno{
    background:#362b6f;
    /*height: 800px;*/
}

#headerDos{
    background: #5d47a0;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}