body{
    font-family: 'Roboto', sans-serif;
    background:#362b6f;
}


.color-texto-blanco{
    color: white;
}

.label_Formulario{
    color: white;
}


#headerUno{
    background:#362b6f;
    /*height: 800px;*/
}

#headerDos{
    background: #5d47a0;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}


button{
    background-color: #a2238e;
    text-align: center;
    border-radius: 8px;
    color: beige;  
    width: 250px;
}

h1,h2,h4,h5,hr,ul{
    color: beige;
}

#apartado1{
    border:0.1px solid rgb(121, 121, 121);
 }

 #titulo_domicilio{
     color:rgb(255, 255, 255);
 }

.catalogo{
    font-family: 'Roboto', sans-serif;
    background:#f0ecef;
}
.tituloCatalogo{
    font-family: 'Roboto', sans-serif;
    background:#362b6f;
    box-sizing: border-box;
    display: block;
    float: none;
    position: static;
    padding: 10px 0 10px 0;    
}
.subtitulo{
    color: rgb(31, 31, 30);
}
.botonComprar{  
    width: 180px;
    height: 40px;
}
.botonFavorito{  
    background-color: #f5eff4;
    width: 180px;
    color: #5d47a0;
}